.sidenav_item {
    text-decoration: none;
    transition: 0.1s;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.sidenav_item:hover {
    background-color: #181818;
}

.selected {
    background-color: #445c79;
}

.nav-button {
    border-radius: 5px;
    margin-right: 5px;
    display: none;
}

.text-align-right {
    text-align: right;
}

.nav-collapsable {
    height: 100%;
    transition: none;
}

.date-selector{
    background-color: #445c79;
    color: white;
    border-radius: 5px;
    overflow-x: hidden;
    font-size: large;
}

.date-selected{
    background-color: #58708d;
}

.date-selector button:hover{
    transition: background-color 0.1s;
    background-color: #6a83a1;
}

.date-right, .date-left{
    background-color: #58708d;
    color: white;
    border: none;
    font-size: large;
    width: 50%;
    height: 40px;
}

.timetable{
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 72vh;
}

.timetable:nth-last-child(1){
    border-bottom: 2px solid #6a83a1;
}

.time-label, .timetable-item{
    background-color: #6a83a1;
    border-radius: 5px;
    color: white;
    border: 2px solid #6a83a1;
    border-bottom: none;
    padding: 4px 4px;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
}

.timetable-cell{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 0.5rem;
    overflow: auto;
    height: 64px;
}

.timetable-row{
    background-color: #445c79;
    color: white;
    border: 2px solid #6a83a1;
    border-bottom: none;
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    flex-shrink: 0; 
    flex-grow: 0; 
    height: 64px;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .nav-collapsable {
        height: 100%;
        overflow: hidden;
        transition: height 0.15s ease-in-out;
    }

    .nav-collapsable.nav-hidden {
        height: 5rem;
    }

    .nav-button {
        display: block;
    }
}